.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
.eslintrc.json
tsconfig.json
.env
.env.*
.git
.github
.editorconfig
.prettierrc
.prettierignore
.eslintignore
node_modules/**
!node_modules/@amplitude/analytics-node/**
!node_modules/axios/**
out/**
!out/dist/**
**/*.map
**/*.ts
*.vsix
.DS_Store
coverage
*.log
test/**
**/*.test.js
**/*.spec.js
**/*.test.ts
**/*.spec.ts
release.sh
eslint.config.mjs

# Keep necessary documentation
!README.md
!LICENSE.txt
!icon.png
!example.gif 